<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <section id= 'pet-<%=pet.id%>'>
    <ul>
      <img src= <%= pet.image %>>
      <li>Name: <%= pet.name %></li>
      <li>Age: <%= pet.approximate_age %></li>
      <li>Sex: <%= pet.sex %></li>
      <li>Current Shelter: <%= pet.current_shelter %></li>
    </ul>
  </section>
<% end %>
