<h1><%= @pet.name %></h1>

<ul>
  <img src= <%= @pet.image %>>
  <p><%= @pet.description %></p>
  <li>Age: <%= @pet.approximate_age %></li>
  <li>Sex: <%= @pet.sex %></li>
  <% if @pet.adoptable? %>
    <li>Status: Adoptable </li>
  <% else %>
    <li>Status: Not Adoptable </li>
  <% end %>
</ul>

<p><%= link_to "Edit #{@pet.name}", "/pets/#{@pet.id}/edit" %></p>
